body {
    background-color: rgb(0, 185, 199);
    font-family:sans-serif;
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    text-align: center;
}

.DataSiswa {
    border-collapse:  collapse;
    width: 100%;
}

