* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
   font-family: "lato", sans-serif;
   min-height: 100vh;
   min-height: 100dvh;
   overflow-x: hidden;
   line-height: 1.6;
}

.navigation {
    background: #1a202c;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0,1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.brand-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease;
    border-radius: 8px;
    padding: 5px 10px;
}

.brand-link:hover {
    transform: translateY(-2px) scale(1.03);
}

.brand-link:active {
    transform: translateY(0) scale(0.98);
    transition: all 0.1s ease;
}

.brand-icon {
    font-size: 1.6rem;
    color: #4fd1c5;
    font-weight: 700;
    line-height: 1;
}

.brand-text {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.brand-name {
    color: #4fd1c5;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-link::after {
    position: absolute;
    content: '';
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #4fd1c5;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 70%;
}

.nav-link:hover {
    background-color: rgba(79, 209, 196, 0.1);;
    color: #4fd1c5;
    transform: translateY(-2px);
}

.nav-link:active {
    transform: translateY(0) scale(0.98);
    background-color: rgba(79, 209, 196, 0.11);
    transition: all 0.1s ease;
}





